<footer class="footer">
  <div class="container">
    <div class="footer-social-link">
      <a target="_blank" href="https://www.facebook.com/pages/Dar-koob-%D8%AF%D8%A7%D8%B1%DA%A9%D9%88%D8%A8/282654831859004?fref=ts"><img src="{{ "images/darkooba-facebook.png" | absURL }}"></a>
      <a target="_blank" href="https://instagram.com/darkooba/"><img src="{{ "images/darkooba-instagram.png" | absURL }}"></a>
    </div>
    <p class="footer-slogan">{{ i18n "footerSlogan" }}</p>
    <p class="footer-copyright">{{ i18n "footerCopyright" }}</p>
  </div>
</footer>

<script type="text/javascript" src="{{ "js/ga.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/jquery1.11.2.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "slick/slick.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/slider-dist.js" | absURL }}"></script>
