<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta property="og:title" content="{{ i18n "metaOgTitle" }}">
<meta property="og:description" content="{{ i18n "metaDescription" }}">
<meta name="author" content="{{ i18n "metaAuthor" }}">
<meta name="description" content="{{ i18n "metaDescription" }}">

<link rel="icon" type="image/png" href="{{ "images/favicon.png" | absURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/darkooba-style.css" | absURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/language-switcher.css" | absURL }}">
{{ if eq .Site.Language.Lang "en" }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ "css/english-ltr.css" | absURL }}">
{{ end }}
{{ if .IsHome }}
<link rel="stylesheet" type="text/css" href="{{ "css/home-dist.css" | absURL }}">
{{ end }}

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
