<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta property="og:title" content="گروه طراحی اسباب بازی دارکوبا">
<meta property="og:description" content="بازی برای همه. با چوب به رویاهایمان جان می بخشیم. تلاش می کنیم که دست ساخته‌هایمان منشایی برای شادی، بازی، خلق و باور به خود باشند.">
<meta name="author" content="گروه طراحی اسباب بازی دارکوبا">
<meta name="description" content="بازی برای همه. با چوب به رویاهایمان جان می بخشیم. تلاش می کنیم که دست ساخته‌هایمان منشایی برای شادی، بازی، خلق و باور به خود باشند.">

<link rel="icon" type="image/png" href="{{ "images/favicon.png" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/darkooba-style.css" | relURL }}">
{{ if .IsHome }}
<link rel="stylesheet" type="text/css" href="{{ "css/home-dist.css" | relURL }}">
{{ end }}

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
